<html>
<body>
Welcome {{username}}! <form action="logout" method="post"><button type="submit">Logout</button></form>
<br>
<form action="add" method="post">
    <input type="text" placeholder="Game name" name="newGame"/>
    <input type="text" oncanplay="system" name="system"/>
   <!-- <input type="checkbox" name="system" value="PS4"/> PS4
    <input type="checkbox" name="system" value="Xbone"> Xbone
    <input type="checkbox" name="system" value="PC"/> PC -->
    <button type="submit">Add</button>
</form>
<form action="delete-game" method="post">
    <input type="text" placeholder="Id No." name="id">
    <button type="submit">Delete Game</button>
</form>
Here are your games! <br>
{{#games}}
{{id}}. {{title}} for  {{system}}<br>
{{/games}}

</body>
</html>