<html>
<body>
Welcome {{username}}! <form action="logout" method="post"><button type="submit">Logout</button></form>
<br>
<form action="add-game" method="post">
    Add game to library?

  System? <br>
    <input type="radio" name="system" value="PS4"/> PS4 <br>
    <input type="radio" name="system" value="Xbone"> Xbone <br>
    <input type="radio" name="system" value="PC"/> PC<br>
    <input type="text" placeholder="Title" name="newGame"/>  <br>
    <button type="submit">Add Game to Library</button>
</form> <br>

<!--<form action="delete-game" method="post">
    <input type="text" name="id" placeholder="Game No."/>
    <button type="submit">Delete Game</button>
    </form> -->

Here are your games! <br>
{{#games}}

{{id}}. {{title}} for  {{system}}  <a href="/edit-game?id={{id}}">Edit</a>
<a href="/delete-game?id={{id}}">Delete</a> <br>


    <br>

    {{/games}}
<br>


</body>
</html>